{% assign content = site.data.content['contacts_form'] %}
{% assign ui_text = site.data.ui-text['ui_text'] %}

<!-- Contact Form -->
<div class="content contacts">

	{{ if content.title != '' }}
	<!-- title -->
	<div class="title">{{ content.title }}</div>
	{{ endif }}

	<!-- content -->
	<div class="row">
		<div class="col col-d-12 col-t-12 col-m-12 border-line-v">
			<div class="contact_form">
				<form id="cform" action="https://formspree.io/f/{{ site.formsubmit_email }}" method="POST">
					<input name="_formsubmit_id" type="text" style="display:none">
					<div class="row">

						<!-- Full Name -->
						<div class="col col-d-6 col-t-6 col-m-6">
							<div class="group-val">
								<label for="name">{{ ui_text.full_name }}</label>
								<input type="text" name="name" id="name" placeholder="{{ ui_text.full_name }}" required />
							</div>
						</div>
						<!-- Email Address -->
						<div class="col col-d-6 col-t-6 col-m-6">
							<div class="group-val">
								<label for="email">{{ ui_text.email_address }}</label>
								<input type="text" name="email" id="email" placeholder="{{ ui_text.email_address }}" required />
							</div>
						</div>
						<!-- Message -->
						<div class="col col-d-12 col-t-12 col-m-12">
							<div class="group-val">
								<label for="message">{{ ui_text.your_message }}</label>
								<textarea name="message" placeholder="{{ ui_text.your_message }}" id="message" required></textarea>
							</div>
						</div>
					</div>
					<!-- Submit Button -->
					<div class="align-left">
						<button type="submit" class="button">
							<span class="text">{{ ui_text.send_message }}</span>
							<span class="arrow"></span>
						</button>
					</div>
				</form>
			</div>
		</div>
		<div class="clear"></div>
	</div>

</div>