{% assign content = site.data.content['clients'] %}

<!-- Clients -->
<div class="content clients">
	{{ if content.title != '' }}
	<!-- title -->
	<div class="title">{{ content.title }}</div>
	{{ endif }}

	<!-- content -->
	<div class="row client-items">
		{% for item in content.items %}
		<!-- client item -->
		<div class="col col-d-6 col-t-6 col-m-12 border-line-v">
			<div class="client-item">
				<div class="image">
					<a target="_blank" href="{{ item.url }}">
						<img src="{{ item.image | relative_url }}" alt="" />
					</a>
				</div>
				<div class="name">{{ item.name }}</div>
				<p>
					{{ item.text }}
				</p>
			</div>
		</div>
		{% endfor %}

		<div class="clear"></div>
	</div>

</div>